.photo {
  width: 100px;
  height: auto;
}

.table {
  display: grid;

}

.tabletr {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.selectPage {
  color: green;
}

.pagination span {
  display: inline-block;
  margin: 3px;
  cursor: pointer;
}